extends _base.pug

mixin timeline(items)
	.inline-media--timeline.timeline-container
		each item in items 
			.tl-item
				.tl-date #{item.date}
				.tl-name #{item.description}
				.arrow-right
block content

		//full-width interactive
		include includes/interactives/full-map.html
		.media-package__caption Carjackings and street robberies in 2016
		.container.container--article
			.article
				.header__title Examining Baltimore's 2016 rise in robberies
				.article__byline Adam Marton
				.article__dateline December 2016

				p Baltimore has seen a 7% rise in total robberies this year. Data from Open Baltimore shows that robberies have risen from 4,717 total robberies in 2015 up to 5,036 so far in 2016*. 

				p Baltimore police classify robberies in four categories: carjacking, commercial, residential and street robberies. Two of those categories-- carjackings and street robberies-- were up significantly in 2016. Carjackings rose 34% from 283 in 2015 to 380 in 2016. Street robberies saw a 11% jump with 3,126 total street robberies in 2015 up to 3,456 in 2016. 
					em See map above to explore Baltimore carjackings and street robberies in 2016
				p Residential and commercial saw declines or only slight increases, as further discussed below.
				p
					em *All data current as of 12/03/2016
			//full-width interactive
			include includes/interactives/total-robberies-chart.html
		.container.container--article
			.article
				
				.article__chapter-title
					.article__chapter-title__text Carjackings
				//ad
				include includes/ads/ad-for-body--cube.html
				
				p Carjacking rates have fluctuated slightly over the years but are up significantly over time. With 380 carjackings so far in 2016, Baltimore has seen a 96% increase in carjackings over a five year period (there were 194 carjackings in 2011).
				
				include includes/interactives/carjacking-5year-chart.html
				
				p Most carjackings in 2016 occurred with the use of a firearm (65%). November, with 59 incidents, saw more carjackings than any other month.
				
				include includes/interactives/carjacking-by-month-chart.html

				p The Southern district was hit hard by carjackings in 2016, with a total of 20 incidents so far this year. This is the highest number of carjackings of any district and represents a 200% rise in carjackings in the Southern from 2015 (when 20 total incidents were recorded). 
				p Carjackings were up significantly in the Central district (77%), the Western district (68%) and the Southeastern district (64%) in 2016. It is worth noting that carjackings were flat in the Eastern district and down 46% year-over-year in the Northeastern district.
				p The data also breaks robberies down by neighborhood. The vast majority of neighborhoods saw carjacking numbers in the low single digits in 2016. However, the following neighborhoods all had more than 5 carjackings in 2016, including two neighborhoods (Gwynn Falls and Penrose) that had 10 carjackings each. 
				include includes/interactives/carjacking-neighborhoods.html
				p Mapping the carjacking incidents revealed several corridors that have experienced a rash of carjackings in 2016.
				p INSERT ANALYSIS OF PENN NORTH, HOLLINS ST, OTHERS

		.container.container--article
			.article
				
				.article__chapter-title
					.article__chapter-title__text Street Robberies
				//ad
				include includes/ads/ad-for-body--cube.html
				
				p Street robberies have steadily risen over the past five years. With 3,456 street robberies so far in 2016, Baltimore has seen a 28% rise in these crimes since 2011 (when there were 2,490).
				p INSERT STREET OVER 5 YEARS CHART
				p Of the total street robberies, 1,539 incidents reportedly involved a firearm and 391 a knife, while 1,526 other incidents were classified as “other” or left blank. 
				p Street robberies have been steadily rising each month through 2016, hitting 289 in April and not dropping below that since. October saw a high 395 incidents and November (the highest month for carjackings) saw 377 incidents.
				p INSERT STREET BY MONTH CHART
				p The Central and Southeastern districts recorded the highest number of street robberies in 2016, each exceeding 600 incidents. The Southern district saw the highest percentage jump at 35%. The Southwestern, Northwestern and Northern districts all saw modest decreases in street robberies this year. 
				p Looking on the neighborhood level, there were seven neighborhoods that exceeded 50 street robberies each:
				p INSERT TOP NEIGHBORHOODS
				p Analysing the location data, there were several blocks where multiple incidents occurred. This includes 10 incidents at 0 North Howard St near the Royal Farms Arena and 9 incidents at 5600 Sefton Ave near City Neighbors Hamilton charter school in Northeast. (??)
				p Downtown contained the most street robberies by far-- 225 incidents, more than the entire Western District combined.
				p INSERT DOWNTOWN MAP AND ANALYSIS

		.container.container--article
			.article
				
				.article__chapter-title
					.article__chapter-title__text Residential and commercial robberies
				
				p Residential robberies were up 3% from last year, from 434 in 2015 to 446 in 2016. However, residential robberies are actually down 23% over the last five years. In 2011 there were 581 residential robberies in Baltimore, 135 more than this year. Residential robberies in 2016 were highest in the Northeastern district, which has experienced a 20% rise in residential robberies since 2015. 
				p Commercial robberies were down significantly. Baltimore saw a 14% decline in commercial robberies year over year, with 874 in 2015 down to 754 in 2016.

			
				
				p.reporter-email Contact reporter reporter at <a href="mailto:#" target="_blank"> reporter email </a>
	



	
