extends _base.pug

mixin timeline(items)
	.inline-media--timeline.timeline-container
		each item in items 
			.tl-item
				.tl-date #{item.date}
				.tl-name #{item.description}
				.arrow-right
block content

		//full-width interactive
		include includes/interactives/full-map.html
		.media-package__caption Carjackings and street robberies in 2016
		.container.container--article
			.article
				.header__title Examining Baltimore's 2016 rise in robberies
				.article__byline Adam Marton
				.article__dateline December 2016

				p Baltimore has seen a substantial rise in robberies this year. Carjackings are up 37% across the city and Baltimore’s downtown neighborhood has seen a 63% jump in street robberies. And things only seem to be getting worse-- November was the worst month for carjackings in the city and October saw the highest number of street robberies.

				p While many have focused on the city’s high homicide numbers (which surpassed 300 for the second year in a row), robberies are up much more significantly year-over-year. <a href="https://data.baltimorecity.gov/Public-Safety/BPD-Part-1-Victim-Based-Crime-Data/wsfq-mvij">Data from Open Baltimore</a> shows that Baltimore has seen a 9% rise in total robberies, with 5,134 so far in 2016* up from 4,717 total robberies in 2015.
				
				p Baltimore police classify robberies in four categories: carjacking, commercial, residential, and street robberies. Two of those categories-- carjackings and street robberies-- are up significantly. Carjackings rose 37% this year, from 283 in 2015 to 388 in 2016. Street robberies have seen an 13% jump in 2016, with 3,126 total street robberies in 2015 up to 3,520 in 2016. See map above to explore 2016 Baltimore carjackings and street robberies.
				
				p The data does reveal some positive developments: residential and commercial robberies saw declines or only slight increases year-over-year, as further discussed below.

				p
					em *All data current as of 12/15/2016
			//full-width interactive
			include includes/interactives/total-robberies-chart.html
		.container.container--article
			.article
				
				.article__chapter-title
					.article__chapter-title__text Carjackings
				//ad
				include includes/ads/ad-for-body--cube.html
				
				p Carkjackings in Baltimore are up 37% from last year. Carjacking rates have fluctuated slightly over time, dropping in 2013 as seen in the chart below, but are up significantly over the last six years. With 388 carjackings so far in 2016, Baltimore has seen a 100% increase in carjackings over a six year period (there were 194 carjackings in 2011).
				
				include includes/interactives/carjacking-5year-chart.html
				
				p Most carjackings in 2016 occurred with the use of a firearm (65%). Carjackings started increasing in April, as seen below, and have remained high throughout the year. November, with 60 incidents, saw more carjackings than any other month.
				
				include includes/interactives/carjacking-by-month-chart.html

				p The Southern district was hit hard by carjackings in 2016, with a total of 62 incidents so far this year. This is the highest number of any district and represents a 210% rise in carjackings in the Southern from 2015.

				p Carjackings were also up significantly in the Central district (81%), the Western district (68%) and the Southeastern district (72%) in 2016. It is worth noting that carjackings were flat in the Eastern district and down 46% year-over-year in the Northeastern district.

				p The data also breaks robberies down by neighborhood. Most neighborhoods saw carjacking numbers in the low single digits in 2016. However, the following neighborhoods all had more than 6 carjackings each.


				include includes/interactives/carjacking-neighborhoods.html

				
				.graphic_title NORTH AVE & MCCULLOH ST

				p Mapping the carjacking incidents revealed several corridors that have experienced a rash of carjackings in 2016.
				
				p The map below shows a several block area skirting the neighborhoods of Penn North and Reservoir Hill, near North Ave. and McColloh St. The several-block area highlighted in the map has seen 7 carjackings in 2016. Though the crimes occurred between March and November, several of the incidents occurred just a few days apart in July and August, as seen in the table. The area is just north of Sandtown-Winchester and the site of rioting during the 2015 unrest in Baltimore. 


				img(src="dist/images/penn-north-carjackings-map.png", class="map-image")
				include includes/interactives/penn-north-carjacking-table.html


				.graphic_title HOLLINS MARKET

				p This map shows the area around Hollins Market and Union Square in southwest Baltimore. The area highlighted in the map has seen 9 carjackings in 2016. Two incidents occurred a week apart on July and three others occurred in a two-week period in November. The highlighted area is just west of the University of Maryland medical center.

				img(src="dist/images/hollins-market-carjackings-map.png", class="map-image")
				include includes/interactives/hollins-market-carjacking-table.html


				p Several high profile carjackings have been in the news this year. In May, <a href="http://www.baltimoresun.com/news/maryland/crime/bs-md-ci-fender-bender-carjacking-20160504-story.html" target="_new">Baltimore police warned motorists</a> to beware of fender-benders being caused deliberately after a string of armed carjackings in the city. "It's been widespread. It hasn't been isolated to any particular area of the city or any particular time," said T.J. Smith, the Police Department's chief spokesman. Several suspects were eventually arrested in that case but police were quoted as saying that the crimes were continuing to occur even after several arrests were made.

				p In October, a woman was carjacked in East Baltimore while unloading groceries and the suspect drove off with her <a href="http://www.baltimoresun.com/news/maryland/crime/bs-md-ci-amber-alert-20161026-story.html" target="_new">11-month-old baby in the car.</a> The child was found more than two hours later on a sidewalk in Northeast Baltimore. A 15-year-old was charged with the crime. 

				p Also in October, detectives spotted armed carjacking suspects after using recent trends to correctly predict that the suspects would head to Cherry Hill. As two detectives prepared to make an arrest, one of the officers accidentally  <a href="http://www.baltimoresun.com/news/maryland/crime/bs-md-ci-officer-shot-20161012-story.html" target="_new">shot himself in the wrist</a> and the suspects escaped.
				

		.container.container--article
			.article
				
				.article__chapter-title
					.article__chapter-title__text Street Robberies
				
				p Street robberies are up 13% from last year. The increase in these robberies has been seen most acutely in Baltimore's Downtown neighborhood, where street robberies are up a staggering 63% year-over-year. 

				p Looking at these incidents over time, street robberies have steadily risen over the past six years. With 3,520 street robberies so far in 2016, Baltimore has seen a 41% rise in these crimes since 2011 (when there were 2,490). Street robberies are generally defined as theft through use or threat of force in a public area.


				include includes/interactives/street-5year-chart.html

				p Many of 2016’s street robberies involved the use of a firearm: 1,563 incidents reportedly involved a firearm and 401 involved a knife.

				p Street robberies have been steadily rising through 2016, hitting 289 incidents in April and staying high throughout the year. October and November were the two worst months for street robberies, with 393 and 380 incidents respectively.

				
				include includes/interactives/street-by-month-chart.html

				p The Central and Southeastern districts recorded the highest number of street robberies in 2016, each exceeding 600 incidents. The Southern district saw the highest percentage jump at 38%. The Southwestern, Northwestern and Northern districts all saw modest decreases in street robberies this year.

				p There were nine neighborhoods that exceeded 50 street robberies each in 2016:

				
				include includes/interactives/street-neighborhoods.html
				

				
				.graphic_title EXAMINING STREET ROBBERIES IN DOWNTOWN

				p Baltimore’s Downtown neighborhood contained the most street robberies by far-- 225 incidents, more than the entire Western District combined. This represents a 63% jump in that neighborhood. In fact, the number of robberies in downtown held steady at around 140 per year since 2011 before surging this year.

				p Downtown is the neighborhood located just north of the Inner Harbor, bordered by Lombard St. to the south, Paca St. to the west, Franklin St. to the north, and Fallsway to the east. It includes Lexington Market, Royal Farms Arena, Hippodrome Theater and War Memorial Plaza.


				include includes/interactives/downtown-street-5year-chart.html

				p The map below highlights the locations of all reported street robberies in the Downtown neighborhood. Each square represents a location where a street robbery was reported, accompanied by the number of incidents at that location. The lighter squares represent locations with multiple incidents.

				p A few areas immediately jump out for having a high concentration of street robberies in downtown, explored in more detail below.

				.graphic_title LOCATION OF DOWNTOWN STREET ROBBERIES

				include includes/interactives/downtown-map.html


				p
					b Royal Farms Arena

				p The Royal Farms Arena is located at 201 W. Baltimore St. It takes up a city block and is bordered by West Lombard St., South Howard St. and Hopkins Place. Looking at that single block, there were <strong>21 reported street robberies</strong> in 2016. Fanning out a few more blocks would increase that number significantly, as seen in the map below. This location is just a few blocks from the University of Maryland, downtown hotels and Camden Yards.
				img(src="dist/images/downtown-arena-map.png", class="map-image")

				p
					b Baltimore Street

				p Another hotspot for downtown street robberies is an eight-block section of Baltimore St. running between 400 East Baltimore St. (Baltimore St. and Gay St.) to 400 West Baltimore St. (Baltimore St. and Eutaw St.). Nearly <strong>60 street robberies</strong> occurred on this section of Baltimore St. and many more if you expand one block north or south along the corridor, as seen in the map below.  This corridor runs the length of downtown Baltimore and includes the Charles Center Station, the Hippodrome Theatre and the block. 

				img(src="dist/images/downtown-baltimore-st-map.png", class="map-image")

				p
					b Satatoga and Eutaw

				p The corner of West Saratoga and North Eutaw is another hot spot, with <strong>18 robberies</strong> occurring near that corner in 2016 (and many more if you fan out one block in either direction). This corner is home to a busy bus stop and is one block north of Lexington Market.


				img(src="dist/images/downtown-saratoga-st-map.png", class="map-image")


				p Several high profile robberies have occurred in the Downtown neighborhood this year. In February,  <a href="http://www.baltimoresun.com/news/maryland/baltimore-city/bs-md-ci-downtown-robbery-20160216-story.html" target="_new">a father and son</a> were charged in a daylight robbery near Power Plant Live where police say they struck a man in the head, knocked him to the ground and rummaged through his pockets. The suspects were spotted by an off-duty officer and arrested in the Latrobe Homes in Oldtown.

				p In May, a man was shot while being <a href="http://www.baltimoresun.com/news/maryland/crime/bs-md-ci-shootings-20160515-story.html" target="_new">robbed early Sunday morning</a> on Water Street. Police said the victim struggled with a man trying to rob him, and several shots were fired. Another man had been shot on the same block a month earlier.

				p In August, police charged a man with attempted murder after he <a href="http://www.baltimoresun.com/news/maryland/crime/bs-md-ci-attempted-murder-arrest-20160812-story.html" target="_new">shot a man during a robbery</a> in the unit block of Custom House Ave. The suspect had attempted to rob a man but the victim ran. The suspect shot at the victim but missed and was later arrested after being observed by a City Watch operator. 


		.container.container--article
			.article
				
				.article__chapter-title
					.article__chapter-title__text Residential and commercial robberies
				
				p Residential and commercial robberies did not experience the same rapid rise as carjackings and street robberies did in 2016. In fact, both crimes have seen decreases in recent years.

				p While residential robberies were up 5% from last year (from 434 in 2015 to 456 in 2016), those crimes are actually down 22% over the last six years. In 2011 there were 581 residential robberies in Baltimore, 125 more than this year. An exception, the Northeastern district has seen a 26% rise in residential robberies this year.

				p Commercial robberies were down significantly year-over-year. Baltimore saw a 12% decline in commercial robberies this year, with 874 in 2015 down to 770 in 2016.


			
				p Source: <a href="https://data.baltimorecity.gov/Public-Safety/BPD-Part-1-Victim-Based-Crime-Data/wsfq-mvij">Open Baltimore</a>

				p.reporter-email Contact Adam Marton at <a href="mailto:amarton@baltimoresun.com" target="_blank"> reporter email </a>
	



	
